<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Stigull</title>
</head>
<body>
    <h1>Innskráning</h1>
    <form action="/login" method="post">
        <div>
            <label for="name">Notendanafn</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div>
            <label for="password">Lykilorð</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div>
            <input type="submit" value="Innskrá">
        </div>
    </form>
</body>
</html>